<form method="post" action="{{form_action}}">
Маршрутная книжка
<table>
	<tr>
		<td>Код МКК</td>
		<td>
			<input name="kod_MKK" type="text"{{kod_MKK}}>
		</td>
		<td>номер книжки</td>
		<td><input type="text" name="nomer_knigi"{{nomer_knigi}}></td>
	</tr>
	<tr>
		<td>Статус заявки</td>
		<td><select name="status">{{status}}</select ></td>
	</tr>
	<tr><td colspan="4">Коментарий МКК</td></tr>
	<tr>
		<td colspan="4"><textarea name="MKK_coment">{{MKK_coment}}</textarea></td>
	</tr>
</table>
Поход
<table>
<tr>
	<td>Район похода</td>
	<td>
		<input type="text" name="region_pohod"{{region_pohod}}>
	</td>
	<td>вид туризма</td>
	<td>
		<select name="vid">{{vid}}</select>
	</td>
</tr>
<tr>
	<td>Нитка маршрута</td>
	<td colspan="3"><input type="text" name="marchrut"{{marchrut}}></td>
</tr>
<tr>
	<td>Категория сложности</td>
	<td colspan="3">
		<select name="ks">{{ks}}</select>
		<select name="element">{{element}}</select>
	</td>
</tr>
<tr>
	<td>Сроки проведения</td>
	<td colspan="3">с
		<input type="text" size="2" name="begin_day"{{begin_day}}>
		<select name="begin_month">{{begin_month}}</select>
		<input type="text" size="4" name="begin_year"{{begin_year}}>
		по
		<input type="text" size="2" name="finish_day"{{finish_day}}>
		<select name="finish_month">{{finish_month}}</select>
		<input type="text" size="4" name="finish_year"{{finish_year}}>
	</td>
</tr>
<tr>
	<td>Состояние подготовки</td>
	<td><select name="prepare">{{prepare}}</select ></td>
</tr>

<tr><td colspan="4">Коментарий руководителя</td></tr>
<tr>
	<td colspan="4"><textarea name="chef_coment">{{chef_coment}}</textarea></td>
</tr>
</table>

Группа <br>
<span>
<table style="display: inline;">
<tr>
	<td>Организация, клуб, команда</td>
	<td><input type="text" name="organization"{{organization}}></td>
</tr>
<tr>
	<td>Область, город и т.д.</td>
	<td><input type="text" name="region_group"{{region_group}}></td>
</tr>
<tr>
	<td>Руководитель похода</td>
	<td>
		<input type="text" id="chef_grupp_inp">
		<input type="button" value="Найти" onclick="getTouristList('chef_grupp_inp')">
		<div id="chef_grupp_div">{{chef_grupp}}</div>
	</td>
</tr>
<tr>
	<td>Заместитель</td>
	<td>
		<input type="text" id="alt_chef_inp">
		<input type="button" value="Найти" onclick="getTouristList('alt_chef_inp')">
		<div id="alt_chef_div">{{alt_chef}}</div>
	</td>
</tr>

<tr>
	<td>Участники</td>
	<td>
		<input type="text" id="unit_inp">
		<input type="button" value="Найти" onclick="getTouristList('unit_inp')">
		<div id="unit_div">{{unit}}</div>
	</td>
</tr>
</table>
</span>

<span id="tourist_list">
	Выбор участников <br>
	{{tourist_list}}
</span>
<br>
<input type="submit" value="Отправить">
</form>

<script type="text/javascript">
	function getTouristList(inputId)
	{	var filterInput = document.getElementById(inputId);
		webtank.json_rpc.invoke({
			uri: "/dyn/rpc",  //Адрес для отправки
			method: "турист.список_по_фильтру", //Название удалённого метода для вызова в виде строки
			params: '["' + filterInput.value + '"]', //Параметры вызова удалённого метода
			onresult: function (responseJSON) { //Обработчик успешного вызова удалённого метода
				var tour_list_div = document.getElementById("tourist_list");
				tour_list_div.innerHTML = responseJSON;
			}
// 			onerror: null  //Обработчик ошибки
		});
		
	}
	
</script>