<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<title>Маршрутно-квалификационная комиссия Ярославской области</title>
	<link rel="stylesheet" type="text/css" href="{{css folder}}general_template.css">
	<link rel="stylesheet" type="text/css" href="/webtank/css/default_style.css">
	<script src="http://yandex.st/jquery/1.9.1/jquery.js"></script>
</head>

<body>
<div id="page">
	<div id="page_bg"></div>
	<div id="top"> 
		<div id="header">
			<div id="pic_frame_left"></div>
			<div id="pic_frame_right"></div>
			<div id="header_pics">
				<img src="{{img folder}}pic/1.jpg">
				<img src="{{img folder}}pic/2.png">
				<img src="{{img folder}}pic/3.jpg">
				<img src="{{img folder}}pic/4.jpg">
				<img src="{{img folder}}pic/5.jpg">
				<img src="{{img folder}}pic/6.jpg">
				<img src="{{img folder}}pic/7.jpg">
				<img src="{{img folder}}pic/8.jpg">
				<img src="{{img folder}}pic/9.jpg">
				<img src="{{img folder}}pic/10.jpg">
				<img src="{{img folder}}pic/11.jpg">
			</div>
			<div id="pic_frame_bottom"></div>
			<div id="site_title">
				<h1>Маршрутно-квалификационная комиссия Ярославской области</h1>
			</div>
		</div> <!-- #header -->
		
		<div id="menu_bg_left"></div>
		<div id="menu_bg_right"></div>
		<div id="main_menu">
			<a href="{{dynamic path}}show_pohod"><span>Походы</span></a>
			<a href="{{dynamic path}}show_tourist"><span>Туристы</span></a>
			<a href="">Отчёты и файлы</a>
			<a href="">Статьи</a>
		</div> <!-- #main_menu -->
		<div id="auth_bar">
			<form action="{{dynamic path}}auth?redirectTo={{this page path}}" id="auth_form" method="post" style="display: inline;">
				Логин: <input name="user_login" type="text" value="{{user login}}" size="15">
				Пароль: <input name="user_password" type="password" size="15">
				<input type="submit" value="Войти">
			</form>
			{{auth header message}}
		</div>
		<div id="menu_shadow_bottom"></div> <!-- #menu_shadow_bottom -->
	</div> <!-- #top -->
	
	<div id="middle">
		<div id="sidebar">
			<h3>Полезные ссылки:</h3>
			{{useful links}}
		</div> <!-- #sidebar -->
		<div id="content">
			{{content}}
			

		</div> <!-- #content -->
	</div> <!-- #middle -->
	<div id="footer_pusher"></div> <!-- Толкатель footer'а -->
	
</div> <!-- #page -->
<div id="footer_framing">
<div id="footer">
	Все ходы записаны!!! г. Ярославль, 2013 г.
</div>
</div> <!-- #footer_framing -->
<script type="text/javascript" src="{{js folder}}components.js"></script>
<script type="text/javascript" src="{{webtank js folder}}components.js"></script>
</body>
</html>