.mkk-PohodRead {
	&.e-wide_prop,
	&.e-prop {
		border-bottom: 1px solid #BECDA0;
	}
	&.e-wide_prop_caption {
		/*text-decoration: underline;*/
	}
	&.e-prop_caption {
		/*font-weight: bold;*/
	}
	&.e-wide_prop_value,
	&.e-prop_value {
		color: #006400;
		font-weight: bold;
	}
	&.e-wide_prop {
		padding: 0.75rem 0;
	}
}