.mkk-PohodRead {
	&.e-wideProp,
	&.e-prop {
		border-bottom: 1px solid #BECDA0;
	}
	&.e-widePropCaption {
		/*text-decoration: underline;*/
	}
	&.e-propCaption {
		/*font-weight: bold;*/
	}
	&.e-widePropValue,
	&.e-propValue {
		color: #006400;
		font-weight: bold;
	}
	&.e-wideProp {
		padding: 0.75rem 0;
	}
}