.mkk-RightObjectList {
	&.e-rightObject {
		border-bottom: solid green 1px;
		border-left: solid green 1px;
	}
	&.e-editLink {
		display: block;
	}
	&.e-addLink {
		display: none;
	}
	&.e-rightObject:hover &.e-addLink {
		display: inline-block;
	}

	&.e-objTitle {
		display: flex;
		justify-content: space-between;
	}
}