.mkk-Table {
	&.e-tableBlock {
		border: 4px ridge #686;
		padding: 0;
	}
	&.e-tableScroller {
		overflow-x: auto;
		padding: 1px;
		margin: -1px;
	}
	&.e-table {
		border-collapse: collapse;
		text-align: center;
		width: 100%;
		font-size: 0.95rem;
	}
	&.e-tableHeaderBody > tr > th {
		text-align: center;
	}
	&.e-tableHeaderBody > tr > th,
	&.e-tableContentBody > tr > td {
		border: 1px solid #666;
		padding: 0.25rem;
	}
}

/* !sect-begin: Общие модификаторы */
.is-hidden {
	display: none;
}

.is-invisible {
	visibility: hidden;
}

.is-inactive_link {
	color: gray;
}
/* !sect-end: Общие модификаторы */

.legendLabel  {
	font-size: 10pt;
	font-weight:bold;
}

.mkk-Document {
	&.e-listLink {
		margin-left: 8px;
	}
}

// Классы иконок для всяких кнопок

// Базовый класс для блока с иконкой
.g-icon-small {
	background-repeat: no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	display: inline-block;
	opacity: 0.8;
}

// Добавление элемента
.g-icon-addItem {
	background-image: url("/pub/mkk/img/icons/add_icon.png");
}

// Редактирование элемента
.g-icon-editItem {
	background-image: url('/pub/mkk/img/icons/pencil_4076.png');
}

// Удаление элемента
.g-icon-removeItem {
	background-image: url("/pub/mkk/img/icons/remove_icon.png");
}