.mkk-TouristSearchArea {
	&.e-addrFilterPanel {
		display: block;
		padding: 6px 8px 6px 8px;
		margin: 8px 0 8px 0;
	}
	&.e-searchResultsPanel {
		margin-top: 15px;
	}
	&.e-addrFilterArrow::before {
		display: inline-block;
		content: '▲';
	}
	&.e-addrFilterArrow.is-collapsed::before {
		content: '▼';
	}
	&.e-addrFilterContent.is-collapsed {
		display: none;
	}
}