<form method="post" action="{{form_action}}">

<hr>
<b>Маршрутная книжка</b>
<table>
<tr>
	<td><label for="kod_MKK">Код МКК</label><br>
		<input type="text" id="kod_MKK" name="kod_MKK"{{kod_MKK}}>
	</td>
	<td><label for="nomer_knigi">Номер книжки</label><br>
		<input type="text" id="nomer_knigi" name="nomer_knigi"{{nomer_knigi}}>
	</td>
<!--</tr>
<tr>-->
	<td><label for="stat">Статус заявки</label><br>
		{{stat}}
	</td>
</tr>
</table>
<label for="MKK_coment">Коментарий МКК</label><br>
<textarea id="MKK_coment" name="MKK_coment">{{MKK_coment}}</textarea>


<hr>
<b>Поход</b>
<table>
<tr>
	<td><label for="region_pohod">Район похода</label></td>
	<td><input type="text" id="region_pohod" name="region_pohod"{{region_pohod}}></td>
</tr>
<tr>
	<td><label for="vid">Вид туризма</label></td>
	<td>{{vid}}</td>
</tr>
<tr>
	<td><label for="marchrut">Нитка маршрута</label></td>
	<td colspan="999"><input type="text" id="marchrut" name="marchrut"{{marchrut}}></td>
</tr>
<tr>
	<td><label for="ks">Категория сложности</label></td>
	<td colspan="999">
		{{ks}}
		{{elem}}
	</td>
</tr>
<tr>
	<td><label for="begin_day">Сроки проведения</label></td>
	<td colspan="999">с &nbsp;&nbsp;
		{{begin_date}}
		<br>
		<label for="finish_day">по</label>
		{{finish_date}}
	</td>
</tr>
<tr>
	<td><label for="prepar">Состояние подготовки</label></td>
	<td colspan="999">
		{{prepar}}
	</td>
</tr>
</table>
<label for="chef_coment">Коментарий руководителя</label><br>
<textarea id="chef_coment" name="chef_coment">{{chef_coment}}</textarea>

<hr>
<b>Группа</b>
<div style="clear: both;"></div><!--Чтобы предыдущее содержимое не обтекалось-->
<!--Блок для вывода списка туристов при поиске-->
<!-- <div id="tourist_select_div"></div> -->
<div id="tourist_group_div">
	<table>
	<tr>
		<td>Организация, клуб, команда</td>
		<td><input type="text" name="organization"{{organization}}></td>
	</tr>
	<tr>
		<td>Область, город и т.д.</td>
		<td><input type="text" name="region_group"{{region_group}}></td>
	</tr>
	<tr>
		<td>Руководитель похода</td>
		<td colspan="999"><input type="hidden" name="chef_grupp" id="chef_grupp">
			<a href="#" id="pohod_chef_edit_btn">{{chef_grupp_text}}</a>
		</td>
	</tr>
	<tr>
		<td>Заместитель руководителя</td>
		<td colspan="999"><input type="hidden" name="alt_chef" id="alt_chef">
			<a href="#" id="pohod_alt_chef_edit_btn">{{alt_chef_text}}</a>
		</td>
	</tr>
	<tr>
		<td>Участники</td>
		<td>
			<input type="hidden" name="unit_neim" id="unit_neim">
			<a href="#" id="pohod_participants_edit_btn">Редактировать</a>
		</td>
	</tr>
	<tr>
		<td colspan="999"><div id="unit_div">{{unit}}</div></td>
	</tr>
	</table>
</div>

<div style="clear: both;">&nbsp;</div><!--Чтобы родительский div не схлопывался, когда правая колонка больше-->
<hr>

<input type="hidden" name="action"{{form_input_action}}>

<input type="submit" value="Отправить">
</form>
<script type="text/javascript" src="{{js folder}}edit_pohod.js"></script>

<style type="text/css">
	.pohod_chef_select_btn, .tourist_select_btn, .tourist_deselect_btn {
		background-repeat: no-repeat;
		background-size: 18px 18px;
		display: inline-block;
		width: 18px;
		height: 18px;
		margin: 0;
		padding: 0;
	}
	
	.pohod_chef_select_btn, .tourist_select_btn {
		background-image: url("/pub/img/icons/append_icon.png");
	}

	.tourist_deselect_btn {
		background-image: url("/pub/img/icons/remove_icon.png");
	}
	
</style>
