.modal_window_blackout {
	width:100%;
	height:100%;
	position:fixed;
	top:0;left:0;
	background:black;
	/*display:none;*/
	z-index:600; /* так получилось, что у меню в KickStart стоит z-index 600 */
	opacity:0.3;
}

.modal_window {
	position:absolute;
	top:20%;
	left:50%;
	z-index:602;
	width:600px;
	background:#efefef;
	border: 1px solid #ccc;
	padding:10px 20px;
	border-radius:10px;
	margin-left:-210px;
	/*display:none;*/
}

.modal_window_close_btn {
	padding-left: 300px;
	color: blue;
}