* {
	margin: 0;
	padding: 0;
	/*font-size: inherit;*/
	box-sizing: inherit;
}


html {
	height: 100%;
	font-size: 16px;
	box-sizing: border-box;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 1.0rem;
}

a {
	text-decoration: underline;
	color:#205F25;
}

a:visited { color:#408056;}

a:active { color:#205F25; }

a:hover {
	color: #30CF80;
}

body {
	min-height:100%;
	height: 100%;

	background: url("../img/design/body_bg.png");
	z-index: -5;
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

#page, #footer_framing {
	/*Обязательные поля по краям*/
	padding: 0 25px;
	min-width: 400px;
	max-width: 1200px;
	margin: auto; /*Выравнивание блока по центру*/

	position: relative;
}

#page {
	/*Тень слева от страницы*/
	background: url("../img/design/page_shadow_left.png") repeat-y 17px 0px;
	height: auto !important;
	min-height: 100%;
	height: 100%;
}

#page_bg {
	position: absolute;
	background: url("../img/design/page_bg.png");
	left: 25px;
	right: 25px;
	bottom: 0;
	top: 0;
	z-index: -10;
}

@media (max-width: 500px) {
	#page {
		/*На маленьком экране убираем тень*/
		background: none;
	}

	#page, #footer_framing {
		/*На маленьком экране убираем поля*/
		padding: 0;
	}

	#page_bg {
		left: 0;
		right: 0;
	}
}

#footer_framing {
	height: 50px;
	/*width: 100%;*/
	position: relative;
	margin-top: -50px;
}

#top {
	width: 100%;
}
/* Блоки верхней части страницы */
#header {
	width: 100%;
}

#site_title {
	background: #336633;
	padding: 5px 18px 3px;
}

#site_title h1 {
	color: orange;
}

#header_pics {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	height: 125px;
	font-size: 0;
}

#pic_frame_left {
	background: url("../img/design/pic_frame_left.png") no-repeat;
	height: 140px;
	width: 30px;
	position: relative;
	float: left;
	margin-right: -13px;
	z-index: 10;
}

#pic_frame_bottom {
	background: url("../img/design/pic_frame_bottom.png") repeat-x;
	height: 28px;
	/*width: 100%;*/
	position: relative;
	margin: -13px 30px auto;
}

#pic_frame_right {
	background: url("../img/design/pic_frame_right.png") no-repeat;
	height: 140px;
	width: 30px;
	position: relative;
	float: right;
	margin-left: -13px;
	z-index: 10;
}

#sidebar {
	width: 250px;
	float: right;
	background: #d4d2ab;
	margin-right: 16px;
	margin-bottom: 8px;
	border-radius: 4px;
}

@media (max-width: 900px) {
	body #sidebar {
		display: none;
	}
}

#content_column {
	margin: 8px 280px 0 16px;
	position: relative;
}

@media (max-width: 900px) {
	body #content_column {
		margin: 8px 8px 0 16px;
	}
}

@media (max-width: 500px) {
	body #content_column {
		margin: 8px 0 0 0;
	}
}

#content {
	padding: 8px;
	margin-bottom: 16px;
	background: #e4e2bf;
	display: inline-block; /* Создает новый Block formatting context */
	width: 100%;
	border-radius: 4px;
}

#footer_pusher {
	clear: both;
	height: 50px;
}

#footer {
	padding: 8px;
	background: #becda0;
	height: 100%;
}

.pohod {
	border-collapse: collapse;
}

.last_pohod_comment {font-size: 80%;}

.mkk-UsefulLinksMenu, .mkk-AdminSideMenu {
	&.e-block {
		padding: 0.5rem;
	}
	&.e-listItem {
		list-style: none;
		margin-left: 0.5rem;
	}
}

/*начало: Для jQuery UI*/
.ui-dialog, .ui-dialog-content {
	-webkit-box-sizing: content-box!important;
	-moz-box-sizing:content-box!important;
	box-sizing: content-box!important;
}

.ui-dialog .ui-button-icon-only .ui-button-text {
	padding: 0;
}

/*конец: Для jQuery UI*/


