.mkk-Pagination {
	&.e-titleRow {
		display: block
	}
	&.e-pageCountBlock {
		display: inline-block;
	}
	&.e-nearPageBtnWrapper {
		display: inline-block;
		background: #eec;
		border-radius: 4px;
	}
	&.e-gotoPageBtnWrapper {
		display: inline-block;
	}
}