[Unit]
Description=MKK site history service
After=network.target
After=nginx.target
After=postgresql-11.target

[Service]
WorkingDirectory=/home/yar_mkk/sites/mkk/
ExecStart=/home/yar_mkk/sites/mkk/bin/mkk_dispatcher --workerPath=./bin/mkk_history_service --port=8084
PIDFile=/var/run/mkk_history_service.pid

User=yar_mkk
Group=yar_mkk

Type=simple

TimeoutSec=300
Restart=always
OOMScoreAdjust=-100

[Install]
WantedBy=multi-user.target
