[Unit]
Description=MKK site view service
After=network.target
After=nginx.target
# StartLimitIntervalSec in recent systemd versions
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/yar_mkk/sites/mkk/
ExecStart=/home/yar_mkk/sites/mkk/bin/mkk_dispatcher --workerPath=./bin/mkk_view_service --port=8082
PIDFile=/var/run/mkk_view_service.pid

User=yar_mkk
Group=yar_mkk

Type=simple

TimeoutSec=300
Restart=always
OOMScoreAdjust=-100

RestartSec=3

[Install]
WantedBy=multi-user.target
