[Unit]
Description=Execute backup of MKK databases once a day

[Timer]
OnCalendar=*-*-* 16:48:00
Unit=mkk_db_dump.service

[Install]
WantedBy=multi-user.target