[Unit]
Description=Execute backup of yar-mkk.ru databases once a day

[Timer]
OnCalendar=*-*-* 16:48:00
Unit=mkk_site_db_dump.service

[Install]
WantedBy=multi-user.target