<style>
	.b-edit_tourist.e-similars_dlg {
		display: none;
	}
</style>

<form class="b-edit_tourist e-tourist_form" method="POST"{{edit_tourist_form}}>
	<input type="hidden" name="num"{{num}}>
	<table>
		<tr><td>Фамилия</td>
			<td><input type="text" name="family_name" class="b-edit_tourist e-family_name"{{family_name}}></td>
		</tr>
		<tr><td>Имя</td>
			<td><input type="text" name="given_name" class="b-edit_tourist e-given_name"{{given_name}}></td>
		</tr>
		<tr><td>Отчество</td>
			<td><input type="text" name="patronymic" class="b-edit_tourist e-patronymic"{{patronymic}}></td>
		</tr>
		<tr><td>Дата рождения</td>
			<td><input type="text" name="birth_day" class="b-edit_tourist e-birth_day" size="2"{{birth_day}}>
				{{birth_month}}
				<input type="text" name="birth_year" class="b-edit_tourist e-birth_year" size="4"{{birth_year}}>
			</td>
		</tr>
		<tr><td>Адрес проживания</td>
			<td><input type="text" name="address"{{address}}></td>
		</tr>
		<tr><td>Номер телефона</td>
			<td><input type="text" name="phone"{{phone}}></td>
		</tr>
		<tr><td>Показывать номер телефона</td>
			<td><input type="checkbox" name="show_phone" value="yes"{{show_phone}}></td>
		</tr>
		<tr><td>Электронная почта</td>
			<td><input type="text" name="email"{{email}}"></td>
		</tr>
		<tr><td>Показывать адрес эл. почты</td>
			<td><input type="checkbox" name="show_email" value="yes"{{show_email}}></td>
		</tr>
		<tr><td>Туристский опыт</td>
			<td><input type="text" name="exp"{{exp}}></td>
		</tr>
		<tr><td>Комментарий</td>
			<td><textarea name="comment">{{comment}}</textarea></td>
		</tr>
		<tr><td>Спортивный разряд</td>
			<td>{{razr}}</td>
		</tr>
		<tr><td>Судейская категория</td>
			<td>{{sud}}</td>
		</tr>
		<tr><td> &nbsp; </td>
			<td><input type="button" class="b-edit_tourist e-submit_btn" value="Отправить!"></td>
		</tr>
	</table>
	<input type="hidden" name="action"{{action}}>
</form>

<div class="b-edit_tourist e-similars_dlg">
	<div class="b-edit_tourist e-similars_msg">
		В базе данных найдены похожие туристы. Возможно, добавляемый турист уже имеется в базе.
		Если это так, можно перейти к его редактированию. Если новый турист ещё не существует,
		можно продолжить добавление.
	</div>
	<div class="b-edit_tourist e-similars_list"></div>
	<button type="button" class="b-edit_tourist e-force_submit_btn">Продолжить добавление</button>
</div>
<script src="{{js folder}}edit_tourist.js" defer></script>
