<link rel="stylesheet" type="text/css" href="{{css folder}}edit_pohod.css">

<form id="b-edit_pohod e-edit_pohod_form" method="post"{{edit_pohod_form}}>

<hr>
<h4>Маршрутная книжка</h4>
<table>
<tr>
	<td><label for="kod_mkk">Код МКК</label><br>
		<input type="text" id="kod_MKK" name="kod_mkk"{{kod_mkk}}>
	</td>
	<td><label for="nomer_knigi">Номер книжки</label><br>
		<input type="text" id="nomer_knigi" name="nomer_knigi"{{nomer_knigi}}>
	</td>
<!--</tr>
<tr>-->
	<td><label for="stat">Статус заявки</label><br>
		{{stat}}
	</td>
</tr>
</table>
<label for="MKK_coment">Коментарий МКК</label><br>
<textarea id="MKK_coment" name="MKK_coment" cols="40">{{MKK_coment}}</textarea>


<hr>
<h4>Поход</h4>
<table>
<tr>
	<td><label for="region_pohod">Район похода</label></td>
	<td><input type="text" id="region_pohod" name="region_pohod"{{region_pohod}}></td>
</tr>
<tr>
	<td><label for="vid">Вид туризма</label></td>
	<td>{{vid}}</td>
</tr>
<tr>
	<td><label for="marchrut">Нитка маршрута</label></td>
	<td colspan="999"><input type="text" id="marchrut" name="marchrut" size="55"{{marchrut}}></td>
</tr>
<tr>
	<td><label for="ks">Категория сложности</label></td>
	<td colspan="999">
		{{ks}}
		{{elem}}
	</td>
</tr>
<tr>
	<td><label for="begin_day">Сроки проведения</label></td>
	<td colspan="999">с &nbsp; &nbsp;
		{{begin_date}}
		<br>
		<label for="finish_day">по&nbsp;</label>
		{{finish_date}}
	</td>
</tr>
<tr>
	<td><label for="prepar">Состояние подготовки</label></td>
	<td colspan="999">
		{{prepar}}
	</td>
</tr>
</table>
<label for="chef_coment">Коментарий руководителя</label><br>
<textarea id="chef_coment" name="chef_coment" cols="40">{{chef_coment}}</textarea>

<hr>
<h4>Группа</h4>
<div style="clear: both;"></div><!--Чтобы предыдущее содержимое не обтекалось-->
<!--Блок для вывода списка туристов при поиске-->
<!-- <div id="tourist_select_div"></div> -->
<div id="tourist_group_div">
	<table>
	<tr>
		<td>Организация, клуб, команда</td>
		<td><input type="text" name="organization"{{organization}}></td>
	</tr>
	<tr>
		<td>Область, город и т.д.</td>
		<td><input type="text" name="region_group"{{region_group}}></td>
	</tr>
	<tr>
		<td>Руководитель похода</td>
		<td colspan="999">
			<input type="hidden" name="chef_grupp" class="b-pohod_chef_edit e-tourist_key_inp"{{chef_grupp}}>
			<a href="#_NOLink" class="b-pohod_chef_edit e-open_dlg_btn">{{chef_grupp_text}}</a>
		</td>
	</tr>
	<tr>
		<td>Заместитель руководителя</td>
		<td colspan="999">
			<input type="hidden" name="b-pohod_alt_chef_edit e-tourist_key_inp" class="b-pohod_alt_chef_edit e-tourist_key_inp"{{alt_chef}}>
			<a href="#_NOLink" class="b-pohod_alt_chef_edit e-open_dlg_btn">{{alt_chef_text}}</a>
		</td>
	</tr>
	<tr>
		<td>Участники</td>
		<td>
			<input type="hidden" name="unit_neim" class="b-pohod_party_edit e-tourist_keys_inp">
			<a href="#_NOLink" class="b-pohod_party_edit e-open_dlg_btn">Редактировать</a>
		</td>
	</tr>
	<tr>
		<td>Количество участников</td><td><input type="text" size="4" name="unit"{{unit_count}}></td>
	</tr>
	<tr>
		<td colspan="999"><div class="b-pohod_party_edit e-tourists_list">{{unit}}</div></td>
	</tr>
	</table>
</div>

<hr>
<h4>Ссылки на доп. материалы</h4>
<div class="b-edit_pohod e-link_list">
	<table class="b-edit_pohod e-link_list_table"></table>
</div>
<input type="hidden" class="b-edit_pohod e-extra_file_links_inp" name="extra_file_links">
<input type="button" class="b-edit_pohod e-add_more_extra_file_links_btn" value="  Добавить ещё  ">

<div style="clear: both;">&nbsp;</div><!--Чтобы родительский div не схлопывался, когда правая колонка больше-->
<hr>

<input type="hidden" name="action"{{form_input_action}}>

<span><input type="submit" class="b-edit_pohod e-submit_btn" value="Сохранить"></span>
<span style="float: right;"><input type="button" class="b-edit_pohod e-open_delete_dlg_btn" value="Удалить поход"></span>
<div style="clear: both"></div>


</form>

<!-- Диалог удаления похода -->
<div class="b-edit_pohod e-delete_dlg" title="Удаление похода" style="display: none;">
	<p>Для подтверждения удаления похода введите слово "удалить" (без кавычек) и нажмите на кнопку</p>

	<input type="text" class="b-edit_pohod e-delete_confirm_inp">
	<input type="button" class="b-edit_pohod e-delete_confirm_btn" value="OK">
</div>


<script type="text/javascript" src="{{js folder}}edit_pohod.js"></script>

<!-- Диалог редактирования участников похода**************************************** -->
<div class="b-pohod_party_edit e-dlg" style="display: none;" title="Список участников">

	              <div class="b-pohod_party_edit e-select_message"></div>
	
	
	<div class="b-pohod_party_edit e-selected_tourists_panel" >
	
	   <div  ><!-- Фильтр туристов ********* -->
		   <input type="text" placeholder="Фамилия" class="b-pohod_party_edit e-family_filter">		
		   <input type="text" placeholder="И"  size="1"  maxlength="1" class="b-pohod_party_edit e-name_filter"> 		
		   <input type="text" placeholder="О"  size="1"  maxlength="1" class="b-pohod_party_edit e-patronymic_filter">		
		   <input type="text" placeholder="г.р. "  size="4"  maxlength="4" class="b-pohod_party_edit e-year_filter"> </br>
		
		   <p>Элементы адреса</p>
		
		   <input type="text" placeholder="Ярославская"  size="15"  maxlength="15" class="b-pohod_party_edit e-region_filter">
		  	
		   <button  class="b-pohod_party_edit e-search_btn" >Искать!</button></br>	
		   
		   <input type="text" placeholder="Рыбинск"  size="15"  maxlength="15" class="b-pohod_party_edit e-city_filter"></br>
		
		   <input type="text" placeholder="Строителей"  size="15"  maxlength="15" class="b-pohod_party_edit e-street_filter">
		
	      <p> &nbsp </p>
	      <input type="button" value="Сохранить" class="b-pohod_party_edit e-accept_btn">
	      <p> &nbsp </p>
	      
		 </div>
		 
		 
		 
		 <div ><!-- Участники похода ********* -->
		 <h5>Участники похода</h5>
		 <div class="b-pohod_party_edit e-selected_tourists"></div>
	    </div>
		
	</div>
	
	
	
	      <div class="b-pohod_party_edit e-found_tourists_panel"><!-- Найденные туристы ********* -->
		       <h5>Найденные туристы</h5>
	 	      <p> &nbsp </p>
		           <p>
		               <span class="b-pohod_party_edit e-label" > </span></br>
		               <p> &nbsp </p>
		               <button 
		                 name="go_selected_btn"
		                 class="b-pohod_party_edit e-go_selected_btn"		     
		                  >Перейти на страницу
		               </button>
		               <input name="cur_page_num" type="text" value="1" size="3"  maxlength="3" class="b-pohod_party_edit e-page_selected"></br>
	 </p> 
		       
		     
		       <p> &nbsp </p><p> &nbsp </p>
		       
		       <button 
		      name="e-go_prev_btn"
		      class="b-pohod_party_edit e-go_prev_btn"
		      
		      >Предыдущая</button>
		       
		      
		       &nbsp  &nbsp 	 &nbsp  &nbsp 	 
		       
		       <button 
		      name="e-go_next_btn"
		      class="b-pohod_party_edit e-go_next_btn"
		     
		      >Следующая</button>
		       
		       
		      
		       <p> &nbsp </p>
		       
		           <div class="b-pohod_party_edit e-found_tourists"></div>
		           
	      </div>
	 
	
	
</div>

<!--Диалог редактирования руководителя похода-->
<div class="b-pohod_chef_edit e-dlg" style="display: none;" title="Выбор руководителя">
	<div class="b-pohod_chef_edit e-search_message"></div>
	<input type="text" placeholder="Введите фамилию туриста" class="b-pohod_chef_edit e-search_filter">
	<input type="button" value="Искать!" class="b-pohod_chef_edit e-search_btn">
	<div class="b-pohod_chef_edit e-search_results"></div>
</div>


<!--Диалог редактирования зам. руководителя похода-->
<div class="b-pohod_alt_chef_edit e-dlg" style="display: none;" title="Выбор зам. руководителя">
	<div class="b-pohod_alt_chef_edit e-search_message"></div>
	<input type="text" placeholder="Введите фамилию туриста" class="b-pohod_alt_chef_edit e-search_filter">
	<input type="button" value="Искать!" class="b-pohod_alt_chef_edit e-search_btn">
	<div class="b-pohod_alt_chef_edit e-delete_btn">
		<div class="b-pohod_alt_chef_edit e-delete_icon"></div>
		<a href="#_NOLink">Нет заместителя</a>
	</div>
	<div class="b-pohod_alt_chef_edit e-search_results"></div>
</div>