<link rel="stylesheet" type="text/css" href="{{css folder}}edit_pohod.css">

<form id="b-edit_pohod e-edit_pohod_form" method="post"{{edit_pohod_form}}>

<hr>
<h4>Маршрутная книжка</h4>
<table>
<tr>
	<td><label for="kod_mkk">Код МКК</label><br>
		<input type="text" id="kod_MKK" name="kod_mkk"{{kod_mkk}}>
	</td>
	<td><label for="nomer_knigi">Номер книжки</label><br>
		<input type="text" id="nomer_knigi" name="nomer_knigi"{{nomer_knigi}}>
	</td>
<!--</tr>
<tr>-->
	<td><label for="stat">Статус заявки</label><br>
		{{stat}}
	</td>
</tr>
</table>
<label for="MKK_coment">Коментарий МКК</label><br>
<textarea id="MKK_coment" name="MKK_coment" cols="40">{{MKK_coment}}</textarea>


<hr>
<h4>Поход</h4>
<table>
<tr>
	<td><label for="region_pohod">Район похода</label></td>
	<td><input type="text" id="region_pohod" name="region_pohod"{{region_pohod}}></td>
</tr>
<tr>
	<td><label for="vid">Вид туризма</label></td>
	<td>{{vid}}</td>
</tr>
<tr>
	<td><label for="marchrut">Нитка маршрута</label></td>
	<td colspan="999"><input type="text" id="marchrut" name="marchrut" size="55"{{marchrut}}></td>
</tr>
<tr>
	<td><label for="ks">Категория сложности</label></td>
	<td colspan="999">
		{{ks}}
		{{elem}}
	</td>
</tr>
<tr>
	<td><label for="begin_day">Сроки проведения</label></td>
	<td colspan="999">с &nbsp; &nbsp;
		{{begin_date}}
		<br>
		<label for="finish_day">по&nbsp;</label>
		{{finish_date}}
	</td>
</tr>
<tr>
	<td><label for="prepar">Состояние подготовки</label></td>
	<td colspan="999">
		{{prepar}}
	</td>
</tr>
</table>
<label for="chef_coment">Коментарий руководителя</label><br>
<textarea id="chef_coment" name="chef_coment" cols="40">{{chef_coment}}</textarea>

<hr>
<h4>Группа</h4>
<!--<div style="clear: both;"></div>Чтобы предыдущее содержимое не обтекалось-->
<!--Блок для вывода списка туристов при поиске-->
<!-- <div id="tourist_select_div"></div> -->
<div id="tourist_group_div">
	<table>
	<tr>
		<td>Организация, клуб, команда</td>
		<td><input type="text" name="organization"{{organization}}></td>
	</tr>
	<tr>
		<td>Область, город и т.д.</td>
		<td><input type="text" name="region_group"{{region_group}}></td>
	</tr>
	<tr>
		<td>Руководитель похода</td>
		<td colspan="999">
			<input type="hidden" name="chef_grupp" class="b-edit_pohod e-chef_key_inp"{{chef_grupp}}>
			<a href="#_NOLink" class="b-edit_pohod e-open_chef_edit_btn">{{chef_grupp_text}}</a>
		</td>
	</tr>
	<tr>
		<td>Заместитель руководителя</td>
		<td colspan="999">
			<input type="hidden" name="alt_chef" class="b-edit_pohod e-alt_chef_key_inp"{{alt_chef}}>
			<a href="#_NOLink" class="b-edit_pohod e-open_alt_chef_edit_btn">{{alt_chef_text}}</a>
		</td>
	</tr>
	<tr>
		<td>Участники</td>
		<td>
			<input type="hidden" name="unit_neim" class="b-edit_pohod e-tourist_keys_inp">
			<a href="#_NOLink" class="b-edit_pohod e-open_pohod_party_edit_btn">Редактировать</a>
		</td>
	</tr>
	<tr>
		<td>Количество участников</td><td><input type="text" size="4" name="unit"{{unit_count}}></td>
	</tr>
	<tr>
		<td colspan="999"><div class="b-edit_pohod e-tourists_list">{{unit}}</div></td>
	</tr>
	</table>
</div>

<hr>
<h4>Ссылки на доп. материалы</h4>
<div class="b-edit_pohod e-link_list">
	<table class="b-edit_pohod e-link_list_table">
		<thead>
			<tr><th>Ссылка</th><th>Название (комментарий)</th></tr>
		</thead>
		<tbody class="b-edit_pohod e-link_list_tbody"></tbody>
	</table>
</div>
<input type="hidden" class="b-edit_pohod e-extra_file_links_inp" name="extra_file_links">
<input type="button" class="b-edit_pohod e-add_more_extra_file_links_btn" value="  Добавить ещё  ">

<div style="clear: both;">&nbsp;</div><!--Чтобы родительский div не схлопывался, когда правая колонка больше-->
<hr>

<input type="hidden" name="action"{{form_input_action}}>

<span><input type="submit" class="b-edit_pohod e-submit_btn" value="Сохранить"></span>
<span style="float: right;"><input type="button" class="b-edit_pohod e-open_delete_dlg_btn" value="Удалить поход"></span>
<div style="clear: both"></div>

</form>

<!-- Диалог удаления похода -->
<div class="b-edit_pohod e-delete_dlg" title="Удаление похода" style="display: none;">
	<p>Для подтверждения удаления похода введите слово "удалить" (без кавычек) и нажмите на кнопку</p>

	<input type="text" class="b-edit_pohod e-delete_confirm_inp">
	<input type="button" class="b-edit_pohod e-delete_confirm_btn" value="OK">
</div>

<!-- Поиск туристов-->
<div class="b-tourist_search e-block" title="Поиск туристов">
	<label>Имя</label>
	<input type="text" placeholder="Петечкин" class="b-tourist_search e-family_filter">
	<input type="text" placeholder="В"  size="1"  maxlength="1" class="b-tourist_search e-name_filter">
	<input type="text" placeholder="И"  size="1"  maxlength="1" class="b-tourist_search e-patronymic_filter"></br>
	<label>Год рожд.</label>
	<input type="text" placeholder="1812"  size="4"  maxlength="4" class="b-tourist_search e-year_filter"> </br>

	
	<fieldset class="b-tourist_search e-addr_filter_panel">
		<legend>Адрес</legend>
		<div class="b-tourist_search e-addr_element_item">
			<label class="b-tourist_search e-addr_element_label">Область</label>
			<input type="text" placeholder="Ярославская" size="15" maxlength="15" class="b-tourist_search e-region_filter e-addr_element_filter">
		</div>
		<div class="b-tourist_search e-addr_element_item">
			<label class="b-tourist_search e-addr_element_label">Нас. пункт</label>
			<input type="text" placeholder="Рыбинск" size="15" maxlength="15" class="b-tourist_search e-city_filter e-addr_element_filter">
		</div>
		<div class="b-tourist_search e-addr_element_item">
			<label class="b-tourist_search e-addr_element_label">Улица</label>
			<input type="text" placeholder="Строителей" size="15" maxlength="15" class="b-tourist_search e-street_filter e-addr_element_filter">
		</div>
	</fieldset>
	<div style='clear: both;'></div>
	<button type="button" class="b-tourist_search e-search_btn">Искать!</button>
	<div class='b-tourist_search e-search_results_panel'>
		<h5>Найденные туристы</h5>
		<div class="b-tourist_search e-tourists_found_summary"></div>
		<div class="b-tourist_search e-page_navigation_bar">
			<button class="b-tourist_search e-go_prev_btn">&lt;</button>
			Страница <input name="cur_page_num" type="text" value="1" size="3" maxlength="3" class="b-tourist_search e-page_selected">
			из <span class="b-tourist_search e-page_count">0</span>
			<button class="b-tourist_search e-go_selected_btn">Перейти</button>
			<button class="b-tourist_search e-go_next_btn">&gt;</button>
		</div>
		<div class="b-tourist_search e-found_tourists"></div>
	</div>
</div>

<!--Диалог редактирования участников похода-->
<div class="b-pohod_party_edit e-dlg" style="display: none;" title="Список участников">
	<div class="b-pohod_party_edit e-dlg_content">
		<div class="b-pohod_party_edit e-control_bar">
			<button type="button" class="b-pohod_party_edit e-accept_btn">Сохранить</button>
		</div>
		<div class="b-pohod_party_edit e-select_message"></div>
		<div class="b-pohod_party_edit e-panels_area">
			<div class="b-pohod_party_edit e-search_panel">
				<h5>Поиск туристов</h5>
				<div class="b-pohod_party_edit e-search_block"></div>
			</div>
			<div class="b-pohod_party_edit e-selected_tourists_panel">
				<h5>Участники похода</h5>
				<div class="b-pohod_party_edit e-selected_tourists"></div>
			</div>
		</div>
	</div>
</div>

<!--Диалог редактирования руководителя похода-->
<div class="b-pohod_chef_edit e-dlg" style="display: none;" title="Выбор руководителя">
	<div class="b-pohod_chef_edit e-control_bar">
		<button type="button" class="b-pohod_chef_edit e-delete_btn">
			<div class="icon-small icon-remove_item"></div>
			Без заместителя
		</button>
	</div>
	<div class="b-pohod_chef_edit e-search_block"></div>
</div>

<script type="text/javascript" src="{{js folder}}edit_pohod.js"></script>