<style>
	.b-edit_tourist.e-similars_dlg {
		display: none;
	}
</style>

<form class="b-edit_tourist e-tourist_form form" method="POST"{{edit_tourist_form}}>
	<h2>Редактирование данных туриста</h2>
	<input type="hidden" name="num"{{num}}>
	<table style="width: 100%;">
		<tr><td>Фамилия</td>
			<td><input type="text" name="family_name" class="b-edit_tourist e-family_name form-control"{{family_name}}></td>
		</tr>
		<tr><td>Имя</td>
			<td><input type="text" name="given_name" class="b-edit_tourist e-given_name form-control"{{given_name}}></td>
		</tr>
		<tr><td>Отчество</td>
			<td><input type="text" name="patronymic" class="b-edit_tourist e-patronymic form-control"{{patronymic}}></td>
		</tr>
		<tr><td>Дата рождения</td>
			<td>
				{{birth_date_picker}}
			</td>
		</tr>
		<tr><td>Адрес проживания</td>
			<td><input type="text" name="address" class="form-control"{{address}}></td>
		</tr>
		<tr><td>Номер телефона</td>
			<td><input type="text" name="phone"{{phone}} class="form-control"></td>
		</tr>
		<tr><td>Показывать номер телефона</td>
			<td><input type="checkbox" name="show_phone" class="checkbox-inline"{{show_phone}}></td>
		</tr>
		<tr><td>Электронная почта</td>
			<td><input type="text" name="email" class="form-control"{{email}}></td>
		</tr>
		<tr><td>Показывать адрес эл. почты</td>
			<td><input type="checkbox" name="show_email" class="checkbox-inline"{{show_email}}></td>
		</tr>
		<tr><td>Туристский опыт</td>
			<td><input type="text" name="exp" class="form-control"{{exp}}></td>
		</tr>
		<tr><td>Комментарий</td>
			<td><textarea name="comment" class="form-control">{{comment}}</textarea></td>
		</tr>
		<tr><td>Спортивный разряд</td>
			<td>{{razr}}</td>
		</tr>
		<tr><td>Судейская категория</td>
			<td>{{sud}}</td>
		</tr>
		<tr><td> &nbsp; </td>
			<td><button type="button" class="b-edit_tourist e-submit_btn btn btn-primary btn-block">Сохранить</td>
		</tr>
	</table>
	<input type="hidden" name="action"{{action}}>
</form>

<div class="b-edit_tourist e-similars_dlg">
	<div class="b-edit_tourist e-similars_msg">
		В базе данных найдены похожие туристы. Возможно, добавляемый турист уже имеется в базе.
		Если это так, можно перейти к его редактированию. Если новый турист ещё не существует,
		можно продолжить добавление.
	</div>
	<div class="b-edit_tourist e-similars_list"></div>
	<button type="button" class="b-edit_tourist e-force_submit_btn">Продолжить добавление</button>
</div>
<script src="{{js folder}}edit_tourist.js" defer></script>
