<form method="POST">
	<span class="b-pohod_filter_vid e-wrapper">
		Вид туризма <br>
		{{vid}}
	</span>
	<span class="b-pohod_filter_ks e-wrapper">
		Категория сложности <br>
		{{ks}}
	</span>
	<span class="b-pohod_filter_prepar e-wrapper">
		Статус подготовки <br>
		{{prepar}}
	</span>
	<span class="b-pohod_filter_stat e-wrapper">
		Статус заявки <br>
		{{stat}}
	</span>
	<br><br>
	<fieldset>
		<legend>Диапазон сроков начала похода</legend>
		с {{begin_date_range_head}} по {{begin_date_range_tail}}
	</fieldset>
	<br>
	<fieldset>
		<legend>Диапазон сроков окончания похода</legend>
		с {{end_date_range_head}} по {{end_date_range_tail}}
	</fieldset>
	<br>
	Район похода содержит <input type="text" name="region_pohod" value="{{region_pohod}}">
	<br>
	<input type="submit" value="Найти">


<style>
	.b-pohod_filter_vid.e-wrapper,
	.b-pohod_filter_ks.e-wrapper,
	.b-pohod_filter_prepar.e-wrapper,
	.b-pohod_filter_stat.e-wrapper
	 {
		display: inline-block;
		margin-right: 20px;
		vertical-align: top;
	}
	
	/*Данные классы опеределены в коде на D страницы show_pohod*/
	.b-pohod_filter_vid.e-block,
	.b-pohod_filter_ks.e-block,
	.b-pohod_filter_prepar.e-block,
	.b-pohod_filter_stat.e-block
	 {
		display: block;
		position: relative;
		height: 120px;
		width: 190px;
		overflow-y: scroll;
		border: solid silver 2px;
	}
	
	
</style>