	<span class="b-pohod_filter_vid e-wrapper">
		Вид туризма <br>
		{{vid}}
	</span>
	<span class="b-pohod_filter_ks e-wrapper">
		Категория сложности <br>
		{{ks}}
	</span>
	<span class="b-pohod_filter_prepar e-wrapper">
		Статус подготовки <br>
		{{prepar}}
	</span>
	<span class="b-pohod_filter_stat e-wrapper">
		Статус заявки <br>
		{{stat}}
	</span>
	<br><br>
	
	<fieldset>
		<legend>Сроки похода</legend>
		с {{begin_date_range_head}} по {{end_date_range_tail}}
	</fieldset>
	<br>
	Район похода содержит <input type="text" name="region_pohod" value="{{region_pohod}}">
	<label>
		<input type="checkbox"  name="with_files"{{with_files}}>		с материалами
	</label>
	<br/><br/>
	<input type="submit" value="  Найти  ">
	<br/>

	
<style>
	.b-pohod_filter_vid.e-wrapper,
	.b-pohod_filter_ks.e-wrapper,
	.b-pohod_filter_prepar.e-wrapper,
	.b-pohod_filter_stat.e-wrapper
	{
		display: inline-block;
		margin-right: 15px;
		vertical-align: top;
	}
	
	/*Данные классы определены в коде на D страницы show_pohod*/
	.b-pohod_filter_vid.e-block,
	.b-pohod_filter_ks.e-block,
	.b-pohod_filter_prepar.e-block,
	.b-pohod_filter_stat.e-block
	{
		display: block;
		position: relative;
		height: 120px;
		overflow-y: scroll;
		border: solid silver 2px;
	}
	
	
</style>