<div class="mkk_code_item_cls">
	<label>Код МКК</label>
	<div>
		<span class="b-pohod e-value">{{Код МКК}}</span>
	</div>
</div>
<div class="book_num_item_cls">
	<label>Маршрутная книжка</label>
	<div>
		<span class="b-pohod e-value">{{Номер книги}}</span>
	</div>
</div>
<div class="organization_item_cls">
	<label>Группа туристов</label>
	<div>
		<span class="b-pohod e-value">{{Организация}}</span>
	</div>
</div>
<div class="time_period_item_cls">
	<label>Сроки похода</label>
	<div>
		<span class="b-pohod e-value">{{Сроки}}</span>
	</div>
</div>
<div class="tourism_kind_item_cls">
	<label>Вид туризма</label>
	<div>
		<span class="b-pohod e-value">{{Вид}}</span>
	</div>
</div>
<div class="category_item_cls">
	<label>Категория сложности</label>
	<div>
		<span class="b-pohod e-value">{{Категория}}</span>
	</div>
</div>
<div class="time_period_item_cls">
	<label>Район похода</label>
	<div>
		<span class="b-pohod e-value">{{Район}}</span>
	</div>
</div>
<div class="route_item_cls">
	<label>Маршрут</label>
	<div>
		<span class="b-pohod e-value">{{Маршрут}}</span>
	</div>
</div>
<div class="tourist_count_item_cls">
	<label>В составе</label>
	<div>
		<span class="b-pohod e-value">{{Число участников}}</span>
	</div>
</div>
<div class="chef_item_cls">
	<label>Руководитель группы</label>
	<div>
		<span class="b-pohod e-value">{{Руководитель}}</span>
	</div>
</div>
<div class="alt_chef_item_cls">
	<label>Руководитель группы</label>
	<div>
		<span class="b-pohod e-value">{{Руководитель}}</span>
	</div>
</div>
<div class="alt_chef_item_cls">
	<label>Зам. руководителя группы</label>
	<div>
		<span class="b-pohod e-value">{{Заместитель рук.}}</span>
	</div>
</div>
<div>
	<label>Состав группы</label>
	<div>
		{{tourist_list}}
	</div>
</div>
<div class="ready_status_item_cls">
	<label>Готовность похода</label>
	<div>
		<span class="b-pohod e-value">{{Готовность}}</span>
	</div>
</div>
<div class="claim_status_item_cls">
	<label>Зам. руководителя группы</label>
	<div>
		<span class="b-pohod e-value">{{Статус}}</span>
	</div>
</div>
<div class="chef_comment_item_cls">
	<label>Комментарий руководителя</label>
	<div>
		<span class="b-pohod e-value">{{Комментарий руководителя}}</span>
	</div>
</div>
<div class="mkk_comment_item_cls">
	<label>Комментарий МКК</label>
	<div>
		<span class="b-pohod e-value">{{Комментарий МКК}}</span>
	</div>
</div>
<!--<p style="color: #556B2F; font-weight: bold;">` ~ participantsList( pohodKey ) ~ `</p> -->
<style>
	.b-pohod.e-value {
		color: #006400;
		font-weight: bold;
	}
</style>

<div>
	<label>Дополнительные материалы</label>
	<div>
		{{file_link_list}}
	</div>
</div>