<div class="i-pohod e-block t-pohod">
	<h2>Данные похода</h2>
	<a href="{{edit_btn_href}}"
		class="btn btn-sm btn-secondary {{edit_btn_cls}}"
		style="position: absolute; top: 0.5rem; right: 0.5rem;">
		Редактировать
	</a>
	<div class="e-prop t-pohod {{mkk_code_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Код МКК</label>
		<div class="e-prop_value t-pohod e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Код МКК}}</span>
		</div>
	</div>
	<div class="e-prop t-pohod {{book_num_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Маршрутная книжка</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Номер книги}}</span>
		</div>
	</div>
	<div class="e-prop t-pohod {{organization_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Группа туристов</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Организация}}</span>
		</div>
	</div>
	<div class="e-prop t-pohod {{time_period_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Сроки похода</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Сроки}}</span>
		</div>
	</div>
	<div class="e-prop t-pohod {{tourism_kind_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Вид туризма</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Вид}}</span>
		</div>
	</div>
	<div class="e-prop t-pohod {{category_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Категория сложности</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Категория}}</span>
		</div>
	</div>
	<div class="e-prop t-pohod {{time_period_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Район похода</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Район}}</span>
		</div>
	</div>
	<div class="e-wide_prop t-pohod row {{route_item_cls}}">
		<label class="e-wide_prop_caption t-pohod col-md-12">Маршрут</label>
		<div class="e-wide_prop_value t-pohod col-md-12">
			<span class="e-wide_prop_value_text t-pohod">{{Маршрут}}</span>
		</div>
	</div>
	<div class="e-prop t-pohod {{tourist_count_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">В составе</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Число участников}}</span>
		</div>
	</div>
	<div class="e-prop t-pohod {{chef_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Руководитель группы</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Руководитель}}</span>
		</div>
	</div>
	<div class="e-prop t-pohod {{alt_chef_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Зам. руководителя группы</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Заместитель рук.}}</span>
		</div>
	</div>
	<div class="e-wide_prop t-pohod row">
		<label class="e-wide_prop_caption t-pohod col-md-12">Состав группы</label>
		<div class="e-prop_value t-pohod col-md-12">
			{{tourist_list}}
		</div>
	</div>
	<div class="e-prop t-pohod {{ready_status_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Готовность похода</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Готовность}}</span>
		</div>
	</div>
	<div class="e-prop t-pohod {{claim_status_item_cls}} row">
		<label class="e-prop_caption t-pohod col-md-4">Статус заявки</label>
		<div class="e-prop_value t-pohod col-md-8">
			<span class="e-prop_value_text t-pohod">{{Статус}}</span>
		</div>
	</div>
	<div class="e-wide_prop t-pohod row {{chef_comment_item_cls}}">
		<label class="e-wide_prop_caption t-pohod col-md-12">Комментарий руководителя</label>
		<div class="e-wide_prop_value t-pohod col-md-12">
			<span class="e-wide_prop_value t-pohod">{{Комментарий руководителя}}</span>
		</div>
	</div>
	<div class="e-wide_prop t-pohod row {{mkk_comment_item_cls}}">
		<label class="e-wide_prop_caption t-pohod col-md-12">Комментарий МКК</label>
		<div class="e-wide_prop_value t-pohod col-md-12">
			<span class="e-wide_prop_value_text t-pohod">{{Комментарий МКК}}</span>
		</div>
	</div>
	<!--<p style="color: #556B2F; font-weight: bold;">` ~ participantsList( pohodKey ) ~ `</p> -->
	<div class="e-wide_prop t-pohod row">
		<label class="e-wide_prop_caption t-pohod col-md-12">Дополнительные материалы</label>
		<div class="e-wide_prop_value t-pohod col-md-12">
			{{file_link_list}}
		</div>
	</div>
</div>