<tr>
	{{Колонка ключ}}
	<td>
		<a href="{{dynamic path}}pohod?key={{Ключ}}">{{Номер книги}}</a>
	</td>
	<td>{{Сроки}}</td>
	<td>{{Вид}}<br>{{КС}} {{Элем КС}}</td>
	<td width="8%">{{Район}}</td>
	<td>{{Руководитель}}</td>
	<td class="show_participants_btn" style="text-align: center;">
		{{Число участников}}
		<img class="noprint" src="{{img folder}}icons/list_icon.png">
		<input type="hidden" value="{{Ключ}}"> 
	</td>
	<td>{{Организация}}</td>
	<td>{{Готовность}}<br>{{Статус}}</td>
	{{Колонка изменить}}
</tr>
<tr>
	<td style="background-color:#8dc0de;" colspan="100">Нитка маршрута: {{Маршрут}}</td>
</tr>
