<div class="i-page_show_pohod e-block t-page_show_pohod">
	<h2>Походы</h2>
	<div class="e-navigation t-page_show_pohod">
		{{pohod_navigation}}
	</div>
	<div class="e-table_bar t-page_show_pohod row">
		<div class="col-md-6">
			<span class="e-pohod_count t-page_show_pohod">Найдено походов: {{pohod_count}}</span>
		</div>
		<div class="col-md-6" style="text-align: right;">
			<a href="{{dynamic path}}edit_pohod" class="e-add_pohod_btn t-page_show_pohod btn btn-primary">
				Добавить поход
			</a>
		</div>
	</div>
	<table class="tab1 e-pohod_table t-page_show_pohod">
		<tbody class="e-pohod_table_header_body t-page_show_pohod">
			<tr>
				{{num_column_header}}
				<th>№ книги</th>
				<th>Сроки похода</th>
				<th>Вид, категория</th>
				<th>Район</th>
				<th>Руководитель</th>
				<th>Участники</th>
				<th>Город, организация</th>
				<th>Статус похода</th>
				{{edit_column_header}}
			</tr>
		</tbody>
		<tbody class="i-page_show_pohod e-pohod_table_body t-page_show_pohod">
			{{pohod_list}}
		</tbody>
	</table>
	<script src="{{js folder}}show_pohod.js" defer></script>
</div>