<script type="text/javascript" src="{{js folder}}flot/jquery.flot.js" defer></script>
<script type="text/javascript" src="{{js folder}}flot/jquery.flot.time.js" defer></script>
<script type="text/javascript" src="{{js folder}}stat.js" defer></script>
<script>
	var {{skript_Surs}};
</script>
<h2>Статистика</h2>
<p>Относительно полная информация с 1992 года, ранее фрагментарный характер информации.</p>
<p><a href="/pub/stati_dokument/stat1992_2010.rar">Отчёты МКК за 1992-2010 годы (zip)</a></p>

<form id="main_form" method="post">
	<fieldset>
		<legend>Тип выборки</legend>
		{{period}}
		<div {{no_print}}>
			<label>
				<input  type="radio" name="prezent_vid" value="по годам" onclick="reloadPage()" {{on_years}}>
				<span>по годам</span>
			</label>
			<label>
				<input  type="radio" name="prezent_vid" value="по КС" onclick="reloadPage()" {{on_KC}}>
				<span>по КС</span>
			</label>
		</div>
	</fieldset>

	<fieldset>
		<legend>Фильтрация</legend>
		{{filtrum}}
		<div {{no_print}}>
			<label class="form-group row" style="display: block;">
				<span class="form-control-label col-md-3">Код МКК</span>
				<div class="col-md-9">
					<input type="text" name="kod_MKK" value="{{kod_MKK}}" class="form-control" placeholder="176-00"/>
				</div>
			</label>
			<label class="form-group row" style="display: block;">
				<span class="form-control-label col-md-3">Организация</span>
				<div class="col-md-9">
					<input type="text" name="organization" value="{{organization}}" class="form-control" placeholder="Гравицап"/>
				</div>
			</label>
			<label class="form-group row" style="display: block;">
				<span class="form-control-label col-md-3">Территория</span>
				<div class="col-md-9">
					<input type="text" name="territory" value="{{territory}}" class="form-control" placeholder="Ярославль"/>
				</div>
			</label>
			{{year_S}}
		</div>
	</fieldset>
	<br/>
	{{ckript_or_button}}
  <!--
     <button  name="filtr" type="submit" class="noprint" > Обновить</button>
     
       <a href='javascript:window.print(); void 0;' class="noprint"><img  height="60" width="60" class="noprint" src="/pub/img/icons/printer.png"/></a>  печать страницы -->
	<button name="for_print" type="submit" class="btn btn-secondary" {{for_print}}>{{MESSAGE}}</button>
</form>
<div style="padding-top: 2rem;"></div>
<h3>График числа участников походов</h3>
<div style="margin: 0% -15% 3% 0%;padding: 2px 0px 120px 2px; width:100%;">
	<div id="placeholder" style="position:relative;margin: 0% 0% -350px 0%; width:80%; height:400px; left:0%; right:auto;"></div><!--окно для графика-->
	<div id="legend" style="position:relative; left:81%; right:auto;  margin: 0% -3% 0% 0%; width:15%; border:4px solid DarkGreen;border-radius: 10px;"></div><!--Это заглушка для легенды-->
</div>
<br/>
<h4>Данные по количеству походов (в скобках - число участников)</h4>
<div class="e-block t-mkk_table">
	<div class="e-scroll_wrapper t-mkk_table">
		<table class="e-table t-mkk_table">
			<tbody class="e-header_body t-mkk_table">
				<tr class="e-header_row t-mkk_table">
					{{stat_table_header}}
				</tr>
			</tbody>
			<tbody class="e-content_body t-mkk_table">
				{{stat_table}}
			</tbody>
		</table>
	</div>
</div>