<div class="i-show_pohod e-block t-show_pohod">
	<h2>Походы</h2>
	<div class="e-navigation t-show_pohod">
		{{pohod_navigation}}
	</div>
	<div class="e-table_bar t-show_pohod row">
		<div class="col-md-6">
			<span class="e-pohod_count t-show_pohod">Найдено походов: {{pohod_count}}</span>
		</div>
		<div class="col-md-6" style="text-align: right;">
			<a href="{{dynamic path}}edit_pohod" class="e-add_pohod_btn t-show_pohod btn btn-primary {{auth_state_cls}}">
				Добавить поход
			</a>
		</div>
	</div>
	<div class="e-table_wrapper t-show_pohod">
		<div class="i-show_pohod_table e-block t-mkk_table">
			<div class="e-scroll_wrapper t-mkk_table">
				<table class="e-table t-mkk_table">
					<tbody class="e-header_body t-mkk_table">
						<tr class="e-header_row t-mkk_table">
							<th class="e-header_num_cell t-show_pohod_table {{auth_state_cls}}">#</th>
							<th>№ книги</th>
							<th>Сроки похода</th>
							<th>Вид, категория</th>
							<th>Район</th>
							<th>Руководитель</th>
							<th>Участники</th>
							<th>Город, организация</th>
							<th>Статус похода</th>
							<th class="e-header_edit_cell t-show_pohod_table {{auth_state_cls}}">Изменить</th>
						</tr>
					</tbody>
					<tbody class="e-content_body t-mkk_table">
						{{pohod_list}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="{{js folder}}show_pohod.js" defer></script>
</div>