<tr class="i-show_pohod_table e-row">
	{{Колонка ключ}}
	<td>
		<a href="{{dynamic path}}pohod?key={{Ключ}}">{{Номер книги}}</a>
	</td>
	<td>{{Сроки}}</td>
	<td>{{Вид}}<br>{{КС}} {{Элем КС}}

	</td>
	<td width="8%">{{Район}}</td>
	<td>{{Руководитель}}</td>
	<td class="i-show_pohod_table e-show_participants_btn t-show_pohod_table"
		data-pohod-num="{{Ключ}}"
		title="Щелкните для просмотра списка участников">
		<img class="e-show_participants_btn_icon t-show_pohod_table {{auth_state_cls}}" 
		               
		src="{{img folder}}icons/list_icon.png">
		<span class="e-show_participants_btn_text t-show_pohod_table"
			title="Количество участников">{{Число участников}}</span>
	</td>
	<td>{{Организация}}</td>
	<td>{{Готовность}}<br>{{Статус}}</td>
	{{Колонка изменить}}
</tr>
<tr>
	<td style="background-color:#8dc0de;" colspan="100">Нитка маршрута: {{Маршрут}}</td>
</tr>
