<div class="b-tourist_info e-block">
	<h3>{{Фамилия}} {{Имя}} {{Отчество}}</h3>
	<div class="b-tourist_info e-property">
		<span class="b-tourist_info e-property_title">Туристский опыт:</span>
		<span class="b-tourist_info e-property_value">{{Опыт}}</span>
	</div>
	<div class="b-tourist_info e-property">
		<span class="b-tourist_info e-property_title">Спортивный разряд:</span>
		<span class="b-tourist_info e-property_value">{{Разряд}}</span>
	</div>
	<div class="b-tourist_info e-property">
		<span class="b-tourist_info e-property_title">Судейская категория:</span>
		<span class="b-tourist_info e-property_value">{{Категория}}</span>
	</div>
	<div class="b-tourist_info e-property">
		<span class="b-tourist_info e-property_title">Контакты:</span>
		<span class="b-tourist_info e-property_value">{{Контакты}}</span>
	</div>
	<div class="b-tourist_info e-property">
		<span class="b-tourist_info e-property_title">Коментарий:</span>
		<br/>
		<span class="b-tourist_info e-property_value">{{Коментарий}}</span>
	</div>
	<!--<button>Do smth!</button>-->
	<div class="b-tourist_info e-pohod_container">
		{{pohod_list}}
	</div>
</div>