.mkk-RecentPohodList.e-itemBlock {
	border-top: 2px solid #BECDA0;
	padding-top: 3px;
	margin-bottom: 15px;
}
.mkk-RecentPohodList.e-basicInfoRow {
	padding-left: 20px;
}
.mkk-RecentPohodList.e-itemDetails {
	font-size: 0.90rem;
}